@model ShopVM
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Modal -->
    <!-- Diğer kodlar aynı kalacak -->
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Kategoriler</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        @foreach (Category parentCategory in Model.Categories)
                        {
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none"
                           href="javascript:void(0);"
                           onclick="showProductsByCategory('@parentCategory.ID')">
                                @parentCategory.Name

                                @if (parentCategory.SubCategories.Any())
                                {
                                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                                    <ul class="collapse show list-unstyled pl-3">
                                        @foreach (Category sc in parentCategory.SubCategories)
                                        {
                                            <li>
                                                <a class="text-decoration-none"
                                       href="javascript:void(0);"
                                       onclick="showProductsByCategory('@sc.ID')">
                                                    @sc.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </a>
                        }
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <!-- Ürünleri listeleyen ProductsByCategory.cshtml kısmi görünümünü ekleyin -->
                <div id="products-by-category">
                    @await Html.PartialAsync("ProductsByCategory", Model.Products)
                </div>
                <div div="row">
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Start Brands -->
    <!-- Diğer kodlar aynı kalacak -->
    <!-- End Brands -->
    <!-- Start Script -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
        function showProductsByCategory(categoryID) {
            $.ajax({
                url: '/Home/GetProductsByCategory', // Controller işleminizin yolunu buraya yazın
                type: 'GET',
                data: { categoryID: categoryID },
                success: function (data) {
                    $("#products-by-category").html(data);
                },
                error: function () {
                    alert('Ürünler yüklenirken bir hata oluştu.');
                }
            });
        }
    </script>
    <!-- End Script -->
</body>